fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
alembic
psycopg2-binary
python-dotenv
httpx